.header {
  background-color: #000000;
  height: 80px;
}
.banner {
  background-color: #e9b1b1;
  height: 700px;
}
.bar {
  background-color: #978f8f;
  height: 130px;
}
/* -----------文字----------- */
.chineseText {
  font-family: "Noto Sans TC", sans-serif;
}
.englishText {
  font-family: "Noto Sans TC", sans-serif;
}
.englishTextBold {
  font-family: "Source Sans Pro", sans-serif;
}
.englishTitle {
  font-family: "Noto Sans TC", sans-serif;
  font-family: "Nuosu SIL", serif;
  font-family: "Source Sans Pro", sans-serif;
}
/* -----------篩選列表----------- */
.filterBar {
  padding-right: 0;
}
.filterBar ul {
  padding-left: 0;
}
.filterBar {
  height: 70px;
  padding: 0;
}
.filterBar ul {
  list-style: none;
}
/* -----------switch----------- */
input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 45px;
  height: 25px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: "";
  position: absolute;
  top: 3.6px;
  left: 3.7px;
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 90px;
  transition: 0.4s;
}

input:checked + label {
  background: #1d1d1d;
}

input:checked + label:after {
  left: calc(100% - 4px);
  transform: translateX(-100%);
}

label:active:after {
  width: 30px;
}
/* -----------商品篩選----------- */
/* .productFilter ul {
  list-style: none;
  padding-left: 0;
}
.productFilter a{
  text-decoration:none;
  color: #000;
}
.productFilterPaddong{
  padding-left: 20px;
} */
.accordion {
  --bs-accordion-border-radius: 0rem;
  width: 260px;
}
.accordion-button:focus {
  z-index: 3;
  border-color: var(--bs-accordion-btn-focus-border-color);
  outline: 0;
  box-shadow: none;
}
.accordion-button:not(.collapsed) {
  color: #000000;
  background-color: white;
  box-shadow: inset 0 calc(var(--bs-accordion-border-width) * -1) 0 var(--bs-accordion-border-color);
}
.accordion-body{
padding: 0px;
}
.accordion-button {
  border: none;
}

/* -----------商品列表----------- */
.cardStyle {
  --bs-card-border-radius: 0rem;
  border: unset;
}
.imgSize {
  height: 400px;
  object-fit: cover;
}
.cardSize {
  width: 252px;
  height: 500px;
}
.cardPadding {
  padding-left: 0px;
}

.productList {
  padding-right: 0px;
  padding-left: 0px;
}
.footer {
  background-color: #3ad3b9;
  height: 400px;
}
.dropdown .btn {
  border: unset !important;
}
